body {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.text a {
  color: black;
  text-decoration: none;
  margin-left: 50px;
}

.text {
  text-align: center;
}

.ab {
  text-align: center;
  font-size: 25px;
}

.ab a {
  color: black;
  text-decoration: none;
}

.tv {
  display: flex;
  align-items: center;
}

.tv img {
  margin-left: -100px;
  width: 200px;
  height: 150px;
}

.tv a {
margin-left: 30px;
margin-top: -50px;
color: black;
text-decoration: none;
}

.tex3 p {
  margin-top: 30px;
  margin-left: -530px;
}

.k img {
  width: 40px;
  height: 40px;
  margin-left: -200px;
  margin-top: -40px;
}

.tex1 p {
  margin-top: 30px;
  margin-left: -607px;
}

.tex2 p {
  margin-top: 30px;
  margin-left: -555px;
}

.par {
  display: flex;
}

.par img {
  margin-left: 50px;
}

footer {
  background-color: black;
  width: 1200px;
}

footer p {
  color: white;
  text-align: center;
}

.fo p {
  margin-left: 600px;
}

.foo p {
  margin-left: 50px;
}

.image-container {
  display: flex;
  justify-content: flex-end;
}

.fo img {
  margin-left: 630px;
  height: 50px;
  width: 150px;
}




.tex4 p {
  margin-top: 30px;
  margin-left: -537px;
}

.tex5 p {
  margin-top: 30px;
  margin-left: -547px;
}







.pol input {
  width: 300px;
  height: 50px;
  border-radius: 20px;
}

.notification {
  display: none;
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
}
.centered-button {
  display: flex;
  justify-content: center;
}

.centered-button button {
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 50px;
}



.nov {
  font-size: 15px;
}

.nov1 {
  color: #686666;
}

.product {
  display: flex;
  align-items: start;
}

.product img {
  margin-right: 50px; 
}