body {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.q {
    margin-left: -400px;
}

.text {
    color: #1A2F57;
    font-size: 30px;
    text-align: center;
}

.text1 {
    color: #515969;
    text-decoration: none;
    margin-top: 150px;
    margin-left: 300px;
}

.text11 {
    margin-top: 150px;
    color: #515969;
    text-decoration: none;
}

.text12 {
    margin-top: 150px;
    color: #515969;
    text-decoration: none;
}

.text2 {
    color: #515969;
  margin-left: -900px;
}

.b {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap;
}

.b1 {
    border: 2px solid #ccc; 
    padding: 20px; 
    width: 200px; 
    text-align: center; 
    margin: 20px;
}

.text3 {
    width: 100%; 
    height: auto;
}

.text4 {
    color: #515969; 
}

.text5 {
    color: #515969; 
    text-decoration: none;
}

.text6 {
    color: #515969; 
    text-decoration: none;
    margin-left: 60px;
}

#photoBlock {
    border: 2px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
   margin-top: 100px;
}

#photoBlock  img {
    max-width: 100%;
    height: auto;
    display: none; /* Скрываем изображение по умолчанию */
}

.text7 {
    color: #515969;
     text-decoration: none; 
     margin-left: -400px;
}

.text8 {
    color: #515969;
     text-decoration: none; 
     margin-left: 300px;
     margin-top: -26px;
}

.pol input {
    width: 300px;
    height: 50px;
    border-radius: 20px;
  }

button:hover {
    background-color: #0f1a30;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

button {
    background-color: #515969; /* Set button color */
    color: white; /* Set text color for better contrast */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Add some padding */
    cursor: pointer; /* Change cursor to pointer on hover */
    display: block; /* Make the button a block element */
    margin: 0 auto; /* Center the button */
}

.car {
    width: 100px;
}

select {
    width: 300px; /* Ширина выпадающего списка */
    height: 40px; /* Высота выпадающего списка */
    font-size: 16px; /* Размер шрифта */
    margin-bottom: 20px; /* Отступ снизу */
}

.w {
    margin-left: 200px;
}