body {
    width: 1280px;
    font-family: "Jura", sans-serif;
    font-size: 20px;
    justify-content: center; /* Центрирование содержимого по горизонтали */
    margin: 0 auto; 
    align-items: center;
  }
  @font-face {
    font-family: 'Jura';
    src: url('./Jura-Light.eot');
    src: local('Jura Light'), local('Jura-Light');
    font-weight: 300;
    font-style: normal;
  }
  .header{
    background-color: black;
    height: 100px;
    width: 1270px;
    
  }
  .img{
    height: 100px;
    width: 200px;
  }
  .text {
    color: white;
    margin-top: -70px;
    margin-left: 350px;
    text-decoration: none; /* Убираем подчеркивание текста */
  }
  .text2{
    color: white;
    margin-top: -45px; 
    margin-left: 600px;
    text-decoration: none; /* Убираем подчеркивание текста */
  }
  .text3{
    color: white;
    margin-top: -45px;
    margin-left: 1000px;
  }
  .text4{
    font-size: 30px;
    align-items: center;
    margin-left: 550px;
  }
.img1{
    height: 200px;
    width: 200px;
}
.container {
    display: flex;
    align-items: center;
  }
.text5{
    font-size: 30px; 
}
.text6{
  font-size: 30px; 
  margin-left: 500px;
}
.text7{
  font-size: 24px;
}
.text8{
  font-size: 30px; 
  margin-left: 430px;
}
.text9{
  font-size: 24px;
  margin-left: 550px;
}
.img2{
  height: 500px;
width: 350px;
margin-top: 50px;
margin-left: 460px;
}
.text10{
  text-align: center;
}
.text11{
  text-decoration: none;
  color:blue;
  margin-left: 570px;
}
.blok{
  width: 900px; 
  height: 500px; 
  background-color: rgb(209, 207, 207); 
  border: 1px solid black;
  margin-left: 180px;
  margin-top: 20px;
}
.text12{
  font-size: 30px;
  text-align: center;
}
input[type="text"], textarea {
  border-radius: 5px;
  padding: 5px;
  width: 700px;
  font-size: 25px;
}
.knopka{
  font-size: 30px;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.footer{
  background-color: black;
    height: 150px;
    width: 1270px;
    margin-top: 30px;
    display: flex;
}
.image{
  height: 50px;
  width: 130px;
  margin-left: 30px;
  margin-top: 30px;
}
.text14{
  text-align: center;
  margin-left: 400px;
  color: white;
}
.text15{
  color: white;
  margin-left: 180px;
}
.img3{
  height: 50px;
  width: 150px;
  margin-left: 230px;
}
@media (max-width: 390px) {
  body {
    width: 390px;
    font-size: 15px;
  }
  .header{
    height: 50px;
    width: 390px;
    
  }
  .img{
    height: 50px;
    width: 100px;

  }
  .text {
    margin-top: -40px;
    margin-left: 125px;
   
  }
  .text2{
    margin-top: -33px; 
    margin-left: 215px;
    
  }
  .text3{
    margin-top: -31px;
    margin-left: 270px;
  }
  .text4{
    font-size: 20px;
    margin-left: 150px;
  }
  .text5{
    font-size: 20px; 
    text-align: center;
}
.text6{
  font-size: 20px; 
  margin-left: 90px;
}
.text7{
  font-size: 18px;
}
.text8{
  font-size: 20px; 
  margin-left: 40px;
}
.text9{
  font-size: 18px;
  margin-left: 120px;
}
.img1{
  height: 100px;
  width: 100px;
}
.img2{
height: 300px;
width: 200px;
margin-top: 30px;
margin-left: 80px;
}
.text11{
  margin-left: 140px;
}
.blok{
  width: 380px; 
  height: 600px; 
  margin-left: 5px;
  margin-top: 20px;
}
.text12{
  font-size: 20px;
}
input[type="text"], textarea {
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  font-size: 17px;
  margin-top: 50px;
}
.knopka{
  font-size: 20px;
}
.footer{
    height: 115px;
    width: 390px;
    margin-top: 30px;
}
.image{
  height: 40px;
  width: 100px;
  margin-left: 10px;
  margin-top: 20px;
}
.text14{
  margin-left: 50px;
}
.text15{
  margin-left: 30px;
  text-align: center;
}
.img3{
  height: 30px;
  width: 70px;
  margin-left: 50px;
  margin-top: -10px;
}
}